/* now for the media queries for the big screen*/
@media screen and (max-width: 1400px) {
  /* part two */
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 555px;
  }
  .text1 {
    padding: 4rem 0 0 5rem;
    width: 600px;
  }
  .text1 h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 3rem;
    color: #272927;
    margin-bottom: 5rem;
  }
  .Transform a {
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: bold;
    margin-left: 7rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    float: right;
  }
  .transformImg img {
    height: 500px;
    width: 800px;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }

  .img1 {
    width: 300px;
    height: 300px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 15rem;
    margin-left: -3rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 10px;
    width: 250px;
  }

  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 2rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 6rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 8rem;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .footer-text p {
    color: #fff;
    width: 400px;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-text-img {
    margin-top: 1rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 5rem;
    height: 150px;
    width: 0.01rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 5rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
  .footer-contact img {
    width: 2rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 2rem;
    color: #fff;
  }
}

/* this is for the ipad */
@media screen and (max-width: 1200px) {
  /* part two */
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 590px;
  }
  .text1 {
    padding: 4rem 0 0 5rem;
    width: 600px;
  }
  .text1 h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 3rem;
    color: #272927;
    margin-bottom: 5rem;
  }
  .Transform a {
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: bold;
    margin-left: 7rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -13rem;
    float: right;
  }
  .transformImg img {
    height: 400px;
    width: 700px;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }

  .img1 {
    width: 250px;
    height: 200px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10rem;
    margin-left: -4rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 10px;
    width: 200px;
  }

  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 2rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 6rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 8rem;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .footer-text p {
    color: #fff;
    width: 400px;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-text-img {
    margin-top: 1rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 5rem;
    height: 150px;
    width: 0.01rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 5rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
  .footer-contact img {
    width: 2.3rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 400;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
  }
  * this is for checkout */ .full {
    background: #d9d9d9;
  }
  /* this is checkout */

  .space {
    margin: 5rem;
    background: #fff;
    padding: 1rem 3rem 5rem 3rem;
    border: 0.2rem solid #384f46;
  }
  .displayFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .checkout-item {
    color: #384f46;
    display: flex;
  }
  .checkout-item a {
    text-decoration: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .checkout-item a img {
    width: 1.5rem;
  }
  .checkout-item img:hover {
    background: #ff5c00;
    padding: 0.5px;
  }

  .item-picked {
    display: flex;
  }
  .items-in-cart1 img {
    width: 150px;
  }
  .items-in-cart2 {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 250px;
  }
  .items-in-cart2 p {
    margin-bottom: 1rem;
    font-size: 12px;
    width: 200px;
  }
  #stars-items {
    margin-bottom: 1rem;
  }
  .add-items img {
    border: 0.01rem solid #384f46;
    width: 1.2rem;
    height: 1.3rem;
    padding: 0.2rem;
  }
  .add-items img:nth-child(2) {
    width: 2rem;
  }
  .add-items p {
    color: #ff5c00;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  .price-item {
    margin-left: -3rem;
  }
  .price-item h2 {
    color: #ff5c00;
    margin-bottom: 1rem;
  }
  .order-price {
    padding-bottom: 0.3rem;
    border: 0.01rem solid #384f46;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .order-price p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
  }

  .price-item span {
    margin-left: 17rem;
    float: right;
    margin-top: -0.7rem;
  }
  .total {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
  }
  .keep-shopping ul li {
    margin-left: auto;
    margin-right: auto;
  }
  .keep-shopping ul li {
    list-style-type: none;
  }
  .keep-shopping ul li:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.01rem solid #ff5c00;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background: #ff5c00;
  }
  .keep-shopping ul li:nth-child(2) {
    border: 0.01rem solid #384f46;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #fff;
    color: #ff5c00;
  }
  #white a {
    text-decoration: none;
    color: #fff;
  }
  .keep-shopping ul li a:nth-child(1) {
    text-decoration: none;
    color: #ff5c00;
  }
  /* this is for payment  */

  .payment-infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 3rem;
    padding: 3rem 1rem 3rem;
    gap: 2rem;
    border: 0.3rem solid #384f46;
  }
  /* this is the payment infor1 for card or transfer */
  .payment-infor1 ul li,
  a {
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  .payment-infor1 ul li:nth-child(1) {
    background: #384f46;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.8rem;
  }
  .payment-infor1 ul li:nth-child(2) {
    margin-left: 2rem;
  }
  /* this is for the form  */
  .form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  input::placeholder {
    padding: 0 1rem;
  }
  .f-one label {
    display: block;
    margin-top: 2rem;
  }
  .f-one img {
    width: 1.5rem;
  }
  .f-one input {
    width: 300px;
    height: 1.5rem;
    border: none;

    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  /* this is form two */
  .f-two label {
    display: block;
  }

  .f-two input {
    width: 300px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  /* this is form three */
  .f-three {
    display: flex;
  }
  .f-three label {
  }

  .f-three input {
    width: 150px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 900;
  }

  #expireD {
    margin-left: -4rem;
  }
  #cvvL {
    margin-left: 10rem;
  }
  #cvv {
    margin-left: -2rem;
  }
  .f-four {
    display: flex;
    margin-top: 1rem;
  }
  .f-five {
    margin-right: 3rem;
  }
  .f-six img {
    width: 5rem;
  }
  /* this is for the order summary */
  .payment-infor2 {
    width: 350px;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
  }

  .white {
    margin-top: 2rem;
    background: #f2f2f2;
  }
  #process {
    background: #f2f2f2;
    padding-bottom: 1rem;
  }
}

/* this is for the ipad2 */
@media screen and (max-width: 1000px) {
  /* part two */
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 480px;
  }
  .text1 {
    padding: 4rem 0 0 2rem;
    width: 400px;
  }
  .text1 h1 {
    font-size: 30px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 3rem;
    color: #272927;
    margin-bottom: 3rem;
  }
  .Transform a {
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15rem;
    float: right;
  }
  .transformImg img {
    height: 400px;
    width: 600px;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
    padding: 0 5rem;
  }
  .show {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #384f46;
    display: flex;
    margin-left: 10rem;
  }
  .catergories {
    display: none;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }

  .img1 {
    width: 320px;
    height: 320px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 14rem;
    margin-left: -3rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 13px;
    width: 250px;
  }
  #amount {
    font-size: 1.2rem;
  }
  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 2rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 6rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 8rem;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .footer-text p {
    color: #fff;
    width: 400px;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-text-img {
    margin-top: 1rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 5rem;
    height: 150px;
    width: 0.01rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 5rem;
    margin-left: -3rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
  .footer-contact img {
    width: 2.3rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 500;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
  }
  /* this is checkout */

  .space {
    margin: 1rem;
    background: #fff;
    padding: 1rem 3rem 5rem 3rem;
    border: 0.2rem solid #384f46;
  }
  .displayFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
  .checkout-item {
    color: #384f46;
    display: flex;
  }

  .item-picked {
    display: flex;
  }
  .items-in-cart1 img {
    width: 200px;
  }
  .items-in-cart2 {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 150px;
  }
  .items-in-cart2 p {
    margin-bottom: 1rem;
    font-size: 10px;
    width: 150px;
    text-wrap: wrap;
  }
  #stars-items {
    margin-bottom: 1rem;
  }
  .add-items img {
    border: 0.01rem solid #384f46;
    width: 1.2rem;
    height: 1.3rem;
    padding: 0.2rem;
  }
  .add-items img:nth-child(2) {
    width: 2rem;
  }
  .add-items p {
    color: #ff5c00;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  .price-item {
    width: 200px;
  }

  .order-price {
    padding-bottom: 0.3rem;
    border: 0.01rem solid #384f46;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .order-price p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
    width: 130px;
  }

  .price-item span {
    margin-left: 20rem;
    float: right;
    margin-top: -0.7rem;
  }
  .total {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
  }
  .keep-shopping ul li {
    margin-left: auto;
    margin-right: auto;
  }
  .keep-shopping ul li {
    list-style-type: none;
  }
  .keep-shopping ul li:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.01rem solid #ff5c00;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background: #ff5c00;
  }
  .keep-shopping ul li:nth-child(2) {
    border: 0.01rem solid #384f46;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #fff;
    color: #ff5c00;
  }
  #white a {
    text-decoration: none;
    color: #fff;
  }
  .keep-shopping ul li a:nth-child(1) {
    text-decoration: none;
    color: #ff5c00;
  }
  /* this is for payment  */

  .payment-infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 2rem;
    padding: 3rem 1rem;
    gap: 2rem;
    border: 0.3rem solid #384f46;
  }
  /* this is the payment infor1 for card or transfer */
  .payment-infor1 ul li,
  a {
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  .payment-infor1 ul li:nth-child(1) {
    background: #384f46;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.8rem;
  }
  .payment-infor1 ul li:nth-child(2) {
    margin-left: 2rem;
  }
  /* this is for the form  */
  .form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  input::placeholder {
    padding: 0 1rem;
  }
  .f-one label {
    display: block;
    margin-top: 2rem;
  }
  .f-one img {
    width: 1.5rem;
  }
  .f-one input {
    width: 300px;
    height: 1.5rem;
    border: none;

    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  /* this is form two */
  .f-two label {
    display: block;
  }

  .f-two input {
    width: 300px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  /* this is form three */
  .f-three {
    display: flex;
  }
  .f-three label {
  }

  .f-three input {
    width: 150px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 900;
  }

  #expireD {
    margin-left: -4rem;
  }
  #cvvL {
    margin-left: 10rem;
  }
  #cvv {
    margin-left: -2rem;
  }
  .f-four {
    display: flex;
    margin-top: 1rem;
  }
  .f-five {
    margin-right: 3rem;
  }
  .f-six img {
    width: 5rem;
  }
  /* this is for the order summary */
  .payment-infor2 {
    width: 210px;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
  }

  .white {
    margin-top: 2rem;
    background: #f2f2f2;
  }
  #process {
    background: #f2f2f2;
    padding-bottom: 1rem;
  }
}
/* this is for the ipad2 */
@media screen and (max-width: 850px) {
  /* part two */
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 440px;
  }
  .text1 {
    padding: 4rem 0 0 2rem;
    width: 300px;
  }
  .text1 h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 2rem;
    color: #272927;
    margin-bottom: 3rem;
  }
  .Transform a {
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -12rem;
    float: right;
  }
  .transformImg img {
    height: 350px;
    width: 450px;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
    padding: 0 4rem;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }
  .show {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #384f46;
    display: flex;
    margin-left: 10rem;
  }
  .catergories {
    display: none;
  }
  .img1 {
    width: 280px;
    height: 280px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 8.5rem;
    margin-left: -3rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 14px;
    width: 220px;
  }
  #amount {
    font-size: 1.2rem;
  }
  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 5rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 8rem;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .footer-text p {
    color: #fff;
    width: 300px;
    font-size: 12px;
    font-weight: 400;
  }
  .footer-text-img {
    margin-top: 1rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 5rem;
    height: 150px;
    width: 0.01rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 5rem;
    margin-left: -3.5rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
  .footer-contact img {
    width: 2.3rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 500;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
  }
  /* this is for checkout  */

  .space {
    margin: 1rem;
    background: #fff;
    padding: 1rem 1rem 5rem 1rem;
    border: 0.2rem solid #384f46;
  }
  .displayFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .checkout-item {
    color: #384f46;
    display: flex;
  }
  .checkout-item a {
    text-decoration: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .checkout-item a img {
    width: 1.5rem;
  }
  .checkout-item img:hover {
    background: #ff5c00;
    padding: 0.5px;
  }

  .item-picked {
    display: flex;
  }
  .items-in-cart1 img {
    width: 150px;
  }
  .items-in-cart2 {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 150px;
  }
  .items-in-cart2 p {
    margin-bottom: 1rem;
    font-size: 10px;
    font-weight: 500;
  }
  #stars-items {
    margin-bottom: 1rem;
  }
  .add-items img {
    border: 0.01rem solid #384f46;
    width: 1.2rem;
    height: 1.3rem;
    padding: 0.2rem;
  }
  .add-items img:nth-child(2) {
    width: 2rem;
  }
  .add-items p {
    color: #ff5c00;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  .price-item {
    width: 200px;
  }
  .price-item h2 {
    color: #ff5c00;
    margin-bottom: 1rem;
  }
  .order-price {
    padding-bottom: 0.3rem;
    border: 0.01rem solid #384f46;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .order-price p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
    width: 120px;
  }

  .price-item span {
    margin-left: 20rem;
    float: right;
    margin-top: -0.7rem;
  }
  .total {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
  }
  .keep-shopping ul li {
    margin-left: auto;
    margin-right: auto;
  }
  .keep-shopping ul li {
    list-style-type: none;
  }
  .keep-shopping ul li:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.01rem solid #ff5c00;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background: #ff5c00;
  }
  .keep-shopping ul li:nth-child(2) {
    border: 0.01rem solid #384f46;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #fff;
    color: #ff5c00;
  }
  #white a {
    text-decoration: none;
    color: #fff;
  }
  .keep-shopping ul li a:nth-child(1) {
    text-decoration: none;
    color: #ff5c00;
  }
  /* this is for payment  */

  .payment-infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 1rem;
    padding: 3rem 1rem;
    gap: 2rem;
    border: 0.3rem solid #384f46;
  }
  /* this is the payment infor1 for card or transfer */
  .payment-infor1 ul li,
  a {
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  .payment-infor1 ul li:nth-child(1) {
    background: #384f46;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.8rem;
  }
  .payment-infor1 ul li:nth-child(2) {
    margin-left: 2rem;
  }
  /* this is for the form  */
  .form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  input::placeholder {
    padding: 0 1rem;
  }
  .f-one label {
    display: block;
    margin-top: 2rem;
  }
  .f-one img {
    width: 1.5rem;
  }
  .f-one input {
    width: 200px;
    height: 1.5rem;
    border: none;

    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  /* this is form two */
  .f-two label {
    display: block;
  }

  .f-two input {
    width: 250px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  /* this is form three */
  .f-three {
    display: flex;
  }
  .f-three label {
  }

  .f-three input {
    width: 150px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 900;
  }

  #expireD {
    margin-left: -4rem;
  }
  #cvvL {
    margin-left: 5rem;
  }
  #cvv {
    margin-left: -2rem;
  }
  .f-four {
    display: flex;
    margin-top: 1rem;
  }
  .f-five {
    margin-right: 3rem;
  }
  .f-six img {
    width: 5rem;
  }
  /* this is for the order summary */
  .payment-infor2 {
    width: 210px;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
  }

  .white {
    margin-top: 2rem;
    background: #f2f2f2;
  }
  #process {
    background: #f2f2f2;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 700px) {
  /* part two */
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 470px;
  }
  .text1 {
    padding: 1rem 0 0 2rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .text1 h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #272927;
    margin-bottom: 3rem;
  }
  .Transform a {
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    font-size: 12px;
    font-weight: bold;
    margin-left: 16rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
    float: none;
    margin-bottom: -3.7rem;
  }
  .transformImg img {
    height: 350px;
    width: 500px;
    padding-left: 3rem;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
    padding: 0 5rem;
  }
  .show {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #384f46;
    display: flex;
    margin-left: 10rem;
  }
  .catergories {
    display: none;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }

  .img1 {
    width: 350px;
    height: 350px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 16rem;
    margin-left: -3rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 14px;
    width: 200px;
  }
  #amount {
    font-size: 1rem;
  }
  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 5rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-left: 4rem;
  }
  .footer-text p {
    color: #fff;
    width: 400px;
    font-size: 12px;
    font-weight: 400;
  }
  .footer-text-img {
    margin-top: 1rem;
    margin-left: 10rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 1rem;
    height: 0.01rem;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 1rem;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact img {
    width: 2.3rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
  }
  /* this is for checkout  */

  .space {
    margin: 1rem;
    background: #fff;
    padding: 1rem 5rem 5rem 5rem;
    border: 0.2rem solid #384f46;
  }
  .displayFlex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .checkout-item {
    color: #384f46;
    display: flex;
  }
  .checkout-item a {
    text-decoration: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .checkout-item a img {
    width: 1.5rem;
  }
  .checkout-item img:hover {
    background: #ff5c00;
    padding: 0.5px;
  }

  .item-picked {
    display: flex;
  }
  .items-in-cart1 img {
    width: 200px;
  }
  .items-in-cart2 {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 200px;
  }
  .items-in-cart2 p {
    margin-bottom: 1rem;
    font-size: 13px;
  }
  #stars-items {
    margin-bottom: 1rem;
  }
  .add-items img {
    border: 0.01rem solid #384f46;
    width: 1.2rem;
    height: 1.3rem;
    padding: 0.2rem;
  }
  .add-items img:nth-child(2) {
    width: 2rem;
  }
  .add-items p {
    color: #ff5c00;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .price-item h2 {
    color: #ff5c00;
    margin-bottom: 1rem;
  }
  .order-price {
    padding-bottom: 0.3rem;
    border: 0.01rem solid #384f46;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .order-price p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
    width: 200px;
  }

  .price-item span {
    margin-left: 17rem;
    float: right;
    margin-top: -0.7rem;
  }
  .total {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
  }
  .keep-shopping ul li {
    margin-left: auto;
    margin-right: auto;
  }
  .keep-shopping ul li {
    list-style-type: none;
  }
  .keep-shopping ul li:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.01rem solid #ff5c00;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background: #ff5c00;
  }
  .keep-shopping ul li:nth-child(2) {
    border: 0.01rem solid #384f46;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #fff;
    color: #ff5c00;
  }
  #white a {
    text-decoration: none;
    color: #fff;
  }
  .keep-shopping ul li a:nth-child(1) {
    text-decoration: none;
    color: #ff5c00;
  }
  /* this is for payment  */

  .payment-infor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 3rem;
    padding: 3rem 1rem;
    gap: 1rem;
    border: none;
  }
  /* this is the payment infor1 for card or transfer */
  .payment-infor1 ul li,
  a {
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  .payment-infor1 ul li:nth-child(1) {
    background: #384f46;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.8rem;
  }
  .payment-infor1 ul li:nth-child(2) {
    margin-left: 2rem;
  }
  /* this is for the form  */
  .form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  input::placeholder {
    padding: 0 1rem;
  }
  .f-one label {
    display: block;
    margin-top: 2rem;
  }
  .f-one img {
    width: 1.5rem;
  }
  .f-one input {
    width: 300px;
    height: 1.5rem;
    border: none;

    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  /* this is form two */
  .f-two label {
    display: block;
  }

  .f-two input {
    width: 310px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  /* this is form three */
  .f-three {
    display: flex;
  }
  .f-three label {
  }

  .f-three input {
    width: 150px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 900;
  }

  #expireD {
    margin-left: -4rem;
  }
  #cvvL {
    margin-left: 4rem;
  }
  #cvv {
    margin-left: -2rem;
  }
  .f-four {
    display: flex;
    margin-top: 1rem;
  }
  .f-five {
    margin-right: 3rem;
  }
  .f-six img {
    width: 5rem;
  }
  /* this is for the order summary */
  .payment-infor2 {
    width: 400px;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
  }

  .white {
    margin-top: 2rem;
    background: #f2f2f2;
  }
  #process {
    background: #f2f2f2;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 550px) {
  /* part two */
  .drop-down-menu li a img {
    width: 20px;
  }
  .drop-down-menu li a {
    margin-left: 0.001rem;
  }
  .header ul li {
    justify-content: end;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 1rem;
    color: #bfb6ac;
    font-size: 12px;
  }
  .Transform {
    background-color: #e9f7ea;
    padding-top: 2rem;
    height: 380px;
  }
  .text1 {
    padding: 2rem 0 0 2rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .text1 h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .text1 p {
    margin-top: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #272927;
    margin-bottom: 3rem;
  }
  .Transform a {
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    font-size: 10px;
    font-weight: bold;
    margin-left: 8.5rem;
  }
  .transformImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
    float: none;
    margin-bottom: -5rem;
  }
  .transformImg img {
    height: 280px;
    width: 290px;
    padding-left: 3rem;
  }
  .show {
    margin-left: 4rem;
  }
  .itemsDisplay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    justify-content: center;
  }
  .display {
    margin-bottom: 3rem;
  }
  .items-full {
    padding: 0.1rem 0.5rem;
    background: #fff;
  }

  .img1 {
    width: 250px;
    height: 200px;
  }
  .img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10rem;
    margin-left: -4rem;
  }
  .img2:hover {
    padding: 0.3rem;
  }
  section p {
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 12px;
    width: 200px;
  }
  #amount {
    font-size: 1rem;
  }
  .star {
    margin-left: 1rem;
  }

  article img {
    width: 0.8rem;
  }
  .order {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
  }
  .order a {
    text-decoration: none;
    color: #fff;
  }
  .order li {
    background: #297154;
    height: 2rem;
    width: 5rem;
    color: #ffff;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
  }
  .order li img {
    margin-left: 0.5rem;
    width: 1rem;
    margin-top: 0.2rem;
  }
  .footer {
    background: #384f46;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-text {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-text h1 {
    color: #f5b102;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-left: 2rem;
  }
  .footer-text p {
    color: #fff;
    width: 250px;
    font-size: 10px;
    font-weight: 400;
    padding: 0 1rem;
  }
  .footer-text-img {
    margin-top: 1rem;
    margin-left: 5rem;
  }
  .footer-text-img img {
    width: 25px;
    background: #fff;
    margin-right: 0.5rem;
    padding: 0.1rem;
  }
  .line {
    border: 0.01rem solid #fff;
    margin-top: 1rem;
    height: 0.01rem;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact {
    margin-top: 1rem;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
  }

  .footer-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-contact img {
    width: 2rem;
    color: #fff;
  }
  .footer-contact ul {
    display: flex;
  }
  .footer-contact ul li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-contact ul li:hover {
    color: #ff5c00;
    font-size: 16px;
  }
  .footer-contact ul a {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
  }
  /* this is for checkout  */

  .space {
    margin: 1rem;
    background: #fff;
    padding: 1rem 1rem 5rem 0.2rem;
    border: 0.2rem solid #384f46;
  }
  .displayFlex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .checkout-item {
    color: #384f46;
    display: flex;
  }
  .checkout-item a {
    text-decoration: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .checkout-item a img {
    width: 1.5rem;
  }
  .checkout-item img:hover {
    background: #ff5c00;
    padding: 0.5px;
  }

  .item-picked {
    display: flex;
  }
  .items-in-cart1 img {
    width: 150px;
  }
  .items-in-cart2 {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 150px;
  }
  .items-in-cart2 p {
    margin-bottom: 1rem;
    font-size: 13px;
  }
  #stars-items {
    margin-bottom: 1rem;
  }
  .add-items img {
    border: 0.01rem solid #384f46;
    width: 1.2rem;
    height: 1.3rem;
    padding: 0.2rem;
  }
  .add-items img:nth-child(2) {
    width: 2rem;
  }
  .add-items p {
    color: #ff5c00;
    margin-top: -1rem;
    margin-left: 6rem;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .price-item h2 {
    color: #ff5c00;
    margin-bottom: 1rem;
  }
  .order-price {
    padding-bottom: 0.3rem;
    border: 0.01rem solid #384f46;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .order-price p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
    width: 200px;
  }

  .price-item span {
    margin-left: 15rem;
    float: right;
    margin-top: -0.7rem;
  }
  .total {
    color: #000000;
    font-weight: 900;
    font-size: 14px;
  }
  .keep-shopping ul li {
    margin-left: auto;
    margin-right: auto;
  }
  .keep-shopping ul li {
    list-style-type: none;
  }
  .keep-shopping ul li:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.01rem solid #ff5c00;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background: #ff5c00;
  }
  .keep-shopping ul li:nth-child(2) {
    border: 0.01rem solid #384f46;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background: #fff;
    color: #ff5c00;
  }
  #white a {
    text-decoration: none;
    color: #fff;
  }
  .keep-shopping ul li a:nth-child(1) {
    text-decoration: none;
    color: #ff5c00;
  }
  /* this is for payment  */

  .payment-infor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 3rem 1rem;
    padding: 3rem 1rem;
    gap: 2rem;
    border: none;
  }
  /* this is the payment infor1 for card or transfer */
  .payment-infor1 ul li,
  a {
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  .payment-infor1 ul li:nth-child(1) {
    background: #384f46;
    padding: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.8rem;
  }
  .payment-infor1 ul li:nth-child(2) {
    margin-left: 2rem;
  }
  /* this is for the form  */
  .form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  input::placeholder {
    padding: 0 1rem;
  }
  .f-one label {
    display: block;
    margin-top: 2rem;
  }
  .f-one img {
    width: 1.5rem;
  }
  .f-one input {
    width: 250px;
    height: 1.5rem;
    border: none;

    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  /* this is form two */
  .f-two label {
    display: block;
  }

  .f-two input {
    width: 250px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  /* this is form three */
  .f-three {
    display: flex;
  }
  .f-three label {
  }

  .f-three input {
    width: 100px;
    height: 1.5rem;
    border: none;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 900;
  }

  #expireD {
    margin-left: -3rem;
  }
  #cvvL {
    margin-left: 3rem;
  }
  #cvv {
    margin-left: -2rem;
  }
  .f-four {
    display: flex;
    margin-top: 1rem;
  }
  .f-five {
    margin-right: 3rem;
  }
  .f-six img {
    width: 5rem;
  }
  /* this is for the order summary */
  .payment-infor2 {
    width: 300px;
    margin-left: -2rem;
  }
  .price-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
  }

  .white {
    margin-top: 2rem;
    background: #f2f2f2;
  }
  #process {
    background: #f2f2f2;
    padding-bottom: 1rem;
  }
}
